## Pandas
### Dataframes 3

In [1]:
import pandas as pd
import numpy as np

In [2]:
# index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))  # pair of elementos,
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [8]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
from numpy.random import randn
df =pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [11]:
df

             A         B
G1 1 -1.462270  0.722614
   2  0.056180 -1.239464
   3 -0.405675  1.594151
G2 1 -0.501804  1.533353
   2  2.357305  0.892635
   3  0.958230  0.515265

In [12]:
df.loc['G1']

          A         B
1 -1.462270  0.722614
2  0.056180 -1.239464
3 -0.405675  1.594151

In [14]:
df.loc['G1'].loc[1]

A   -1.462270
B    0.722614
Name: 1, dtype: float64

In [16]:
df.index.names=['Groups','Num'] # rename the index

In [17]:
df

                   A         B
Groups Num
G1     1   -1.462270  0.722614
       2    0.056180 -1.239464
       3   -0.405675  1.594151
G2     1   -0.501804  1.533353
       2    2.357305  0.892635
       3    0.958230  0.515265

In [21]:
df.loc['G2'].loc[2].B #=df.loc['G2'].loc[2].['B']

0.892635378726705

In [26]:
df.xs(1,level='Num') #acceder a ciertos valores con muchos indices

               A         B
Groups
G1     -1.462270  0.722614
G2     -0.501804  1.533353

In [27]:
df.xs('G1',level='Groups')

            A         B
Num
1   -1.462270  0.722614
2    0.056180 -1.239464
3   -0.405675  1.594151