## Pandas
### Series
A Series is a one-dimensional array of data. It can hold data of any type: string, integer, float, dictionaries, lists, booleans, and more.

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
labels=['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d={'a':10,'b':20,'c':30}

In [6]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels) #strings

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(data=[sum,print,len]) #functions

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],['USA','MXN','JAP','ESP'])

In [14]:
ser1

USA    1
MXN    2
JAP    3
ESP    4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],['USA','MXN','ITL','JAP'])
ser2

USA    1
MXN    2
ITL    5
JAP    4
dtype: int64

In [16]:
ser1['USA']

1

In [17]:
ser3 = pd.Series(data=labels)

In [19]:
ser3[0]

'a'

In [20]:
ser1+ser2

ESP    NaN
ITL    NaN
JAP    7.0
MXN    4.0
USA    2.0
dtype: float64